html {
    font-family: Arial;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

p {
    font-size: 1.2rem;
}

body {
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #2f4468;
    color: white;
    font-size: 1.7rem;
}

h1 {
    color: #070812;
    padding: 2vh;
}

.button {
    padding: 15px 50px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #0f8b8d;
    border: none;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button:active {
    background-color: #0f8b8d;
    box-shadow: 2 2px #CDCDCD;
    transform: translateY(2px);
}

.content {
    padding: 20px;
}

.card-grid {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
}

.cards {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078
}

.reading {
    font-size: 2.8rem;
}

.packet {
    color: #bebebe;
}

.card.device_state {
    color: #0095b3;
}

.card.temperature {
    color: #fd7e14;
}

.card.humidity {
    color: #1b78e2;
}